<div class="main-text panel panel-default">
    {{#if title}}
        <div class="panel-heading">
            {{title}}
        </div>
    {{/if}}
    <div class="text panel-body text-center">
        <label for="answers">
            {{#if title}}<span class="sr-only">{{title}}</span>{{/if}} {{text}}
        </label>
        {{#if img}}
            <div class="img-container">
                <img class="image" src="img/{{img.src}}.png" alt="{{img.alt}}">
            </div>
        {{/if}}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Responses:</div>
    <div class="panel-body">
        <div id="answers" tabindex="-1" role="group">
            {{#each branches}}
                {{#if text}}
                    <button type="button" class="btn btn-block branch-text btn-info"
                            id="{{id}}">{{text}}</button>
                {{else}}
                    <button type="button" class="btn btn-block branch-text btn-info" id="{{id}}">Next
                    </button>
                {{/if}}
            {{/each}}
            {{#if history}}
                <button type="button" class="btn btn-block branch-text btn-info" id="{{history}}">Previous Panel
                </button>
            {{/if}}
        </div>
    </div>
</div>
